In [1]:
import pandas as pd


avocado_df = pd.read_csv('Resources/Avocado.csv')

In [2]:
avocado_df['region'].unique()

array(['Albany', 'Atlanta', 'Baltimore/Washington', 'BaltimoreWashington',
       'Boise', 'Boston', 'Buffalo/Rochester', 'BuffaloRochester',
       'California', 'Charlotte', 'Chicago', 'Cincinnati/Dayton',
       'CincinnatiDayton', 'Columbus', 'Dallas/Ft. Worth',
       'DallasFtWorth', 'Denver', 'Detroit', 'Grand Rapids',
       'GrandRapids', 'Great Lakes', 'GreatLakes', 'Harrisburg/Scranton',
       'HarrisburgScranton', 'Hartford/Springfield',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'Las Vegas', 'LasVegas', 'Los Angeles', 'LosAngeles', 'Louisville',
       'Miami/Ft. Lauderdale', 'MiamiFtLauderdale', 'Midsouth',
       'Nashville', 'New Orleans/Mobile', 'New York', 'NewOrleansMobile',
       'NewYork', 'Northeast', 'Northern New England',
       'NorthernNewEngland', 'Orlando', 'Philadelphia', 'Phoenix/Tucson',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'Raleigh/Greensboro', 'RaleighGreensboro', 'Richmond/Norfolk',
       'RichmondNorfolk', 'Roanoke', 'Sacramento', 'San Diego',
       'San Francisco', 'SanDiego', 'SanFrancisco', 'Seattle',
       'South Carolina', 'South Central', 'SouthCarolina', 'SouthCentral',
       'Southeast', 'Spokane', 'St. Louis', 'StLouis', 'Syracuse',
       'Tampa', 'Total U.S.', 'TotalUS', 'West', 'West Tex/New Mexico',
       'WestTexNewMexico'], dtype=object)

In [3]:
avocado_df['region'] = avocado_df['region'].replace(
    {'LosAngeles': 'Los Angeles', 'BaltimoreWashington': 'Baltimore/Washington', 'BuffaloRochester': 'Buffalo/Rochester', 'CincinnatiDayton': 'Cincinnati/Dayton', 'DallasFtWorth': 'Dallas/Ft. Worth', 'GrandRapids': 'Grand Rapids', 'GreatLakes': 'Great Lakes', 'HarrisburgScranton': 'Harrisburg/Scranton', 'HartfordSpringfield': 'Hartford/Springfield', 'Harford/Springfield': 'Hartford/Springfield', 'LasVegas': 'Las Vegas', 'MiamiFtLauderdale': 'Miami/Ft. Lauderdale', 'NewOrleansMobile': 'New Orleans/Mobile', 'NewYork': 'New York', 'NorthernNewEngland': 'Northern New England', 'PhoenixTucson': 'Phoenix/Tucson', 'RaleighGreensboro': 'Raleigh/Greensboro', 'RichmondNorfolk': 'Richmond/Norfolk', 'SanDiego': 'San Diego', 'SanFrancisco': 'San Francisco', 'SouthCarolina': 'South Carolina', 'SouthCentral': 'South Central', 'StLouis': 'St. Louis', 'Total U.S.': 'Total US', 'TotalUS': 'Total US', 'WestTexNewMexico': 'West Tex/New Mexico'})

In [4]:
avocado_df['region'].unique()

array(['Albany', 'Atlanta', 'Baltimore/Washington', 'Boise', 'Boston',
       'Buffalo/Rochester', 'California', 'Charlotte', 'Chicago',
       'Cincinnati/Dayton', 'Columbus', 'Dallas/Ft. Worth', 'Denver',
       'Detroit', 'Grand Rapids', 'Great Lakes', 'Harrisburg/Scranton',
       'Hartford/Springfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'Las Vegas', 'Los Angeles', 'Louisville', 'Miami/Ft. Lauderdale',
       'Midsouth', 'Nashville', 'New Orleans/Mobile', 'New York',
       'Northeast', 'Northern New England', 'Orlando', 'Philadelphia',
       'Phoenix/Tucson', 'Pittsburgh', 'Plains', 'Portland',
       'Raleigh/Greensboro', 'Richmond/Norfolk', 'Roanoke', 'Sacramento',
       'San Diego', 'San Francisco', 'Seattle', 'South Carolina',
       'South Central', 'Southeast', 'Spokane', 'St. Louis', 'Syracuse',
       'Tampa', 'Total US', 'West', 'West Tex/New Mexico'], dtype=object)

In [5]:
junk_cities = ['Baltimore/Washington', 'Buffalo/Rochester', 'Cincinnati/Dayton', 'Dallas/Ft. Worth', 'Harrisburg/Scranton', 'Hartford/Springfield', 'Miami/Ft. Lauderdale', 'New Orleans/Mobile', 'Northeast', 'Phoenix/Tucson', 'Raleigh/Greensboro', 'Richmond/Norfolk', 'South Central', 'Southeast', 'West', 'West Tex/New Mexico', 'Total US']
clean_df =avocado_df
for city in junk_cities:
    clean_df.drop(clean_df.loc[clean_df['region']==city].index, inplace=True)

In [7]:
clean_df['region'].unique()

array(['Albany', 'Atlanta', 'Boise', 'Boston', 'California', 'Charlotte',
       'Chicago', 'Columbus', 'Denver', 'Detroit', 'Grand Rapids',
       'Great Lakes', 'Houston', 'Indianapolis', 'Jacksonville',
       'Las Vegas', 'Los Angeles', 'Louisville', 'Midsouth', 'Nashville',
       'New York', 'Northern New England', 'Orlando', 'Philadelphia',
       'Pittsburgh', 'Plains', 'Portland', 'Roanoke', 'Sacramento',
       'San Diego', 'San Francisco', 'Seattle', 'South Carolina',
       'Spokane', 'St. Louis', 'Syracuse', 'Tampa'], dtype=object)

In [12]:
clean_df.to_csv('Resources/clean_avocado.csv')