In [1]:
#import dependancies
import pandas as pd 
import pprint as pp 
import json
import requests

#testing JSON URL to see it visually
url = 'https://datausa.io/api/data?drilldowns=Nation&measures=Population'
results = requests.get(url).json()
results["data"][1]

{'ID Nation': '01000US',
 'Nation': 'United States',
 'ID Year': 2017,
 'Year': '2017',
 'Population': 325719178,
 'Slug Nation': 'united-states'}

In [8]:
#setting up query 1 for age group data
query_1_url = 'https://datausa.io/api/data?Geography=16000US0644000&measures=Birthplace,Birthplace%20Moe&drilldowns=Age'
results_1 = requests.get(query_1_url).json()
results_1['data'][1]

{'ID Age': 10,
 'Age': '75 Years & Over',
 'ID Year': 2018,
 'Year': '2018',
 'Birthplace': 216817,
 'Birthplace Moe': 6002.368865706271,
 'Geography': 'Los Angeles, CA',
 'ID Geography': '16000US0644000',
 'Slug Geography': 'los-angeles-ca'}

In [4]:
#setting up query 2 for income data
query_2_url = 'https://datausa.io/api/data?measure=Household%20Income%20by%20Race,Household%20Income%20by%20Race%20Moe&Geography=16000US0644000:parents,16000US0644000,16000US0644000:similar'
results_2 = requests.get(query_2_url).json()
results_2['data'][1]

{'ID Year': 2018,
 'Year': '2018',
 'Household Income by Race': 61937,
 'Household Income by Race Moe': 94,
 'Geography': 'United States',
 'ID Geography': '01000US',
 'Slug Geography': 'united-states'}

In [5]:
#pulling in geo-codes to set up search loop
city_geo_codes = "Resources/City Geo Join Table.xlsx"
search_data = pd.read_excel(city_geo_codes)
search_data.head()

            City                  Geo Code
0     Albany, NY  Geography=16000US3601000
1    Atlanta, GA  Geography=16000US1304000
2  Baltimore, MD  Geography=16000US1304000
3      Boise, ID  Geography=16000US1608830
4     Boston, MA  Geography=16000US2507000

In [9]:
#query 1 loop to getting age group data from each city
years = [2013,2014,2015,2016,2017,2018]

city_data_1 = {
    "Year": [],
    "City": [],
    "Age Range": [],
    "Number in Range": []

}

geography = search_data["Geo Code"].tolist()
cities = search_data["City"].tolist()

In [ ]:
for geo in geography:

    query_1_url = 'https://datausa.io/api/data?measures=Birthplace,Birthplace%20Moe&drilldowns=Age&{}'.format(geo)
    results_1 = requests.get(query_1_url).json()

    for year in years:
        for i in range(len(results_1['data'])):
            try:
                results_1 = requests.get(query_1_url).json()
                city_data_1["City"].append(results_1['data'][i]['Geography'])
                city_data_1["Year"].append(results_1['data'][i]['Year'])
                city_data_1["Age Range"].append(results_1['data'][i]['Age'])
                city_data_1["Number in Range"].append(results_1['data'][i]['Birthplace'])
            except:
                pass

In [ ]:
#query 2 loop for getting income data
years = [2013,2014,2015,2016,2017,2018]

city_data_2 = {
    "Year": [],
    "City": [],
    "Household Income by Race": []
}

for geo in geography:
    query_2_url = 'https://datausa.io/api/data?measure=Household%20Income%20by%20Race,Household%20Income%20by%20Race%20Moe&{}:parents,16000US0644000,16000US0644000:similar'.format(geo)



    results_2 = requests.get(query_2_url).json()

    for year in years:
        for i in range(len(results_2['data'])):
            try:       
                results_2 = requests.get(query_2_url).json()
                city_data_2['City'].append(results_2['data'][i]['Geography'])
                city_data_2['Household Income by Race'].append(results_2['data'][i]['Household Income by Race'])
                city_data_2['Year'].append(results_2['data'][i]['Year'])
            except:
                pass

In [ ]:
city_data_1 = pd.DataFrame(city_data_1)
city_data_1.head()

In [ ]:
city_data_2 = pd.DataFrame(city_data_2)
city_data_2.head()