In [1]:
#dependencies
import gmaps
import matplotlib as plt
import pandas as pd
import numpy as np
import requests
import json

In [2]:
#google API Key
from config import gkey

In [3]:
#import cities file as DF
cities_pd = pd.read_csv("cities.csv")
cities_pd.head()

         City           State
0      Albany        New York
1     Atlanta         Georgia
2  Boise City           Idaho
3      Boston   Massachusetts
4     Buffalo        New York

In [4]:
#add columns for Lat & Long
cities_pd["Lat"] = ""
cities_pd["Lng"] = ""

#print
cities_pd

                 City            State Lat Lng
0              Albany         New York
1             Atlanta          Georgia
2          Boise City            Idaho
3              Boston    Massachusetts
4             Buffalo         New York
5           Charlotte   North Carolina
6             Chicago         Illinois
7          Cincinnati             Ohio
8            Columbus             Ohio
9              Dallas            Texas
10             Denver         Colorado
11            Detroit         Michigan
12       Grand Rapids         Michigan
13         Harrisburg     Philadelphia
14           Hartford       Conneticut
15            Houston            Texas
16  Indianapolis City          Indiana
17       Jacksonville          Florida
18          Las Vegas           Nevada
19        Los Angeles       California
20              Miami          Florida
21          Nashville   North Carolina
22        New Orleans        Louisiana
23           New York         New York
24            Orlando          Florida
25       Philadelphia     Philadelphia
26            Phoenix          Arizona
27         Pittsburgh     Philadelphia
28           Portland           Oregon
29            Raleigh   North Carolina
30           Richmond          Virgina
31            Roanoke          Virgina
32         Sacramento       California
33          San Diego       California
34      San Francisco       California
35            Seattle       Washington
36            Spokane       Washington
37          St. Louis         Missouri
38           Syracuse         New York
39             Tampla          Florida

In [5]:
#create params dic that will be updated with new city each iteration
params = {"key" : gkey}

#loop through the cities_pd & run a lat/lng search for each city
for index, row in cities_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row["City"]
    state = row[" State"]

    #update address key value
    params["address"] = f"{city},{state}"

    #make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()

    cities_pd.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    cities_pd.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
cities_pd.head()

         City           State      Lat      Lng
0      Albany        New York  42.6526 -73.7562
1     Atlanta         Georgia   33.749  -84.388
2  Boise City           Idaho   43.615 -116.202
3      Boston   Massachusetts  42.3601 -71.0589
4     Buffalo        New York  42.8864 -78.8784

In [6]:
#create city DataFrame
cities_df = cities_pd

cities_df

                 City            State      Lat      Lng
0              Albany         New York  42.6526 -73.7562
1             Atlanta          Georgia   33.749  -84.388
2          Boise City            Idaho   43.615 -116.202
3              Boston    Massachusetts  42.3601 -71.0589
4             Buffalo         New York  42.8864 -78.8784
5           Charlotte   North Carolina  35.2271 -80.8431
6             Chicago         Illinois  41.8781 -87.6298
7          Cincinnati             Ohio  39.1031  -84.512
8            Columbus             Ohio  39.9612 -82.9988
9              Dallas            Texas  32.7767  -96.797
10             Denver         Colorado  39.7392  -104.99
11            Detroit         Michigan  42.3314 -83.0458
12       Grand Rapids         Michigan  42.9634 -85.6681
13         Harrisburg     Philadelphia  40.0557 -75.0252
14           Hartford       Conneticut  41.7658 -72.6734
15            Houston            Texas  29.7604 -95.3698
16  Indianapolis City          Indiana  39.7684 -86.1581
17       Jacksonville          Florida  30.3322 -81.6557
18          Las Vegas           Nevada  36.1699  -115.14
19        Los Angeles       California  34.0522 -118.244
20              Miami          Florida  25.7617 -80.1918
21          Nashville   North Carolina  35.9746 -77.9655
22        New Orleans        Louisiana  29.9511 -90.0715
23           New York         New York  43.2994 -74.2179
24            Orlando          Florida  28.5383 -81.3792
25       Philadelphia     Philadelphia  39.9526 -75.1652
26            Phoenix          Arizona  33.4484 -112.074
27         Pittsburgh     Philadelphia  40.4447 -79.9916
28           Portland           Oregon  45.5051 -122.675
29            Raleigh   North Carolina  35.7796 -78.6382
30           Richmond          Virgina  37.5407  -77.436
31            Roanoke          Virgina   37.271 -79.9414
32         Sacramento       California  38.5816 -121.494
33          San Diego       California  32.7157 -117.161
34      San Francisco       California  37.7749 -122.419
35            Seattle       Washington  47.6062 -122.332
36            Spokane       Washington  47.6588 -117.426
37          St. Louis         Missouri   38.627 -90.1994
38           Syracuse         New York  43.0481 -76.1474
39             Tampla          Florida  27.9506 -82.4572

In [10]:
#store latitude & longitude in locations
locations = cities_df[["Lat", "Lng"]]
city = cities_df[["City"]]

In [12]:
#plot heatmap
fig = gmaps.figure()

# Create heat layer
marker_layer = gmaps.marker_layer(locations)


# Add layer
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))