In [3]:
#create a bar chart that show total volume of avocados sold by year - EAST vs WEST COAST EDITION

#East Coast: Conneticut, Delaware, Florida, Georgia, Massachusetts, Maryland, Maine, North Carolina, New Hampshire, New Jersey, Rhode Island, South Carolina, Virgina

#West Coast: Alaska, California, Oregon, Washington

#2015
#2016
#2017
#2018

In [4]:
#Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [5]:
#read in the data
avocado_2015_data = pd.read_csv("avocado_sales_2015.csv")
#print to verify
#avocado_2015_data.head()

avocado_2016_data = pd.read_csv("avocado_sales_2016.csv")
#print to verify
#avocado_2016_data.head()

avocado_2017_data = pd.read_csv("avocado_sales_2017.csv")
#avocado_2017_data.head()

avocado_2018_data = pd.read_csv("avocado_sales_2018.csv")
#avocado_2018_data.head()

In [8]:
avocado_2018_data

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,156,1/1/2018,1.47,113514.42,2622.70,101135.53,20.25,9735.94,5556.98,4178.96,0.00,conventional,2018,Albany
1,157,1/7/2018,1.13,98540.22,2940.63,76192.61,42.63,19364.35,8633.09,10707.93,23.33,conventional,2018,Albany
2,158,1/14/2018,1.42,95246.38,2897.41,76570.67,44.00,15734.30,10012.80,5721.50,0.00,conventional,2018,Albany
3,159,1/21/2018,1.69,135196.35,3133.37,116520.88,88.78,15453.32,10023.79,5429.53,0.00,conventional,2018,Albany
4,160,1/28/2018,1.57,93625.03,3101.17,74627.23,55.59,15841.04,11614.79,4159.58,66.67,conventional,2018,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3621,18669,11/4/2018,1.49,8300.71,152.99,521.23,0.00,7626.49,6953.34,673.15,0.00,organic,2018,Tampa
3622,18670,11/11/2018,1.54,9113.31,136.55,670.58,0.00,8306.18,7048.18,1258.00,0.00,organic,2018,Tampa
3623,18671,11/18/2018,1.52,12259.52,220.91,1231.73,0.00,10806.88,7333.34,3473.54,0.00,organic,2018,Tampa
3624,18672,11/25/2018,1.24,710.36,52.13,25.74,0.00,632.49,567.77,64.72,0.00,organic,2018,Tampa
3625,18673,12/2/2018,1.29,7374.15,176.32,5.44,0.00,7192.39,7192.39,0.00,0.00,organic,2018,Tampa

In [ ]:
#add a new column

#array?

#numpy -> where - condition True Add or False
#results = np.where ("region" == "Albany")

#The sum method adds every entry in the series
#total = data_file_df["Amount"].sum()
#tota

In [9]:
#array
west_coast = np.array({"Los Angeles", "Sacramento", "San Diego", "San Francisco", "Portland", "Seattle", "Spokane"})

#print
west_coast

array({'Portland', 'Los Angeles', 'San Diego', 'Spokane', 'Sacramento', 'San Francisco', 'Seattle'},
      dtype=object)

In [10]:
#array
east_coast = np.array({"Hartford", "Boston", "Charlotte", "Nashville", "Raleigh", "Albany", "Buffalo", "New York", "Syracuse", "Richmond", "Roanoke", "Atlanta", "Jacksonville", "Miami", "Orlando", "Tampa"})

#print
east_coast

array({'Jacksonville', 'Nashville', 'Hartford', 'Boston', 'Tampa', 'Albany', 'Richmond', 'Atlanta', 'Orlando', 'Buffalo', 'Syracuse', 'Raleigh', 'Miami', 'New York', 'Roanoke', 'Charlotte'},
      dtype=object)

In [ ]:
#generate bar plot
#set up the plot
ABCDE.plot(kind="bar", color="b", alpha=0.5, align="center")

In [ ]:
#Give our chart some labels and a tile
plt.title("East vs West Coast 2015")
plt.xlabel("Coast")
plt.ylabel("Consumer Volume")

In [ ]:
#print
plt.print
plt.tight_layout()